---
import SecondaryLayout from '@/layouts/SecondaryLayout.astro';
import { projects } from '@/data';
---

<SecondaryLayout title="Proyectos">
  <section
    id="projects"
    class="flex items-center"
    aria-labelledby="projects-heading"
  >
    <div class="mx-auto max-w-7xl mt-12">
      <h2
        id="projects-heading"
        class="text-3xl font-bold text-center text-gray-800 mb-6"
      >
        Proyectos
      </h2>

      <p class="text-center text-gray-600 max-w-3xl mx-auto mb-12 text-lg">
        Comenzamos nuestra trayectoria con una visión clara: unir creatividad y
        tecnología para construir experiencias digitales únicas.
      </p>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          projects.map((p) => (
            <article
              class="block overflow-hidden rounded-lg shadow-lg hover:shadow-xl transition bg-white "
              aria-label="Proyecto"
            >
              <a
                href={p.deployUrl}
                target="_blank"
                rel="noopener noreferrer"
                class="block"
              >
                <figure>
                  <img
                    src={p.imageUrl}
                    alt={p.name}
                    class="w-full h-64 object-cover"
                  />
                  <figcaption class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800 ">
                      {p.name}
                    </h3>
                    <p class="text-sm text-gray-600  mt-2">{p.description}</p>
                  </figcaption>
                </figure>
              </a>
            </article>
          ))
        }
      </div>
    </div>
  </section>
</SecondaryLayout>
