---
import { team } from '@/data';
import { Linkedin, Github } from 'lucide-astro';
---

<section
  id="about"
  class="bg-gray-50 py-20 flex items-center px-6"
  aria-labelledby="about-heading"
>
  <div class="max-w-7xl mx-auto py-10">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">
      Nuestro equipo
    </h1>

    <p class="text-center text-gray-600 max-w-3xl mx-auto mb-12 text-lg">
      Creamos soluciones digitales modernas, escalables y centradas en el
      usuario. Nuestro equipo combina creatividad, tecnología y compromiso con
      la excelencia.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      {
        team.map((t) => (
          <article
            class="p-4 text-center bg-white max-w-md rounded-lg shadow-lg hover:shadow-xl"
            aria-label="Miembro del equipo"
          >
            <header>
              <img
                src={t.imageUrl}
                alt={t.name}
                class="w-24 h-24 mx-auto rounded-full object-cover"
              />
              <h3 class="mt-4 text-lg font-semibold">{t.name}</h3>
              <p class="text-sm">{t.role}</p>
            </header>

            <section>
              <p class="mt-2 text-sm">{t.bio}</p>
            </section>

            <footer class="flex justify-center gap-4 mt-3">
              <a href={t.linkedinUrl} target="_blank" rel="noreferrer">
                <Linkedin />
              </a>
              <a href={t.githubUrl} target="_blank" rel="noreferrer">
                <Github />
              </a>
            </footer>
          </article>
        ))
      }
    </div>
  </div>
</section>
